input[type=text] {
    width: 100%;
    /* Each input box covers the full width of the container */
    padding: 12px 20px;
    /* Adds padding within the text box */
    border: 1px solid rgb(0, 173, 101);
    /* Setting a solid border and its color */
    border-radius: 4px;
    /* Slightly rounds the corners of the text box border */
    box-sizing: border-box;
    /* This creates a box with a border around the contact form input boxes */
    margin-top: 6px;
    /* Adds a margin to the top of the text box */
    margin-bottom: 16px;
    /* Adds a margin to the bottom of the text box */
    resize: vertical;
    /* This allows the user to resize the text boxes vertically */
}


/* Hover effects for input boxes */

input[type=text]:hover {
    box-shadow: 0 0 5px rgb(0, 173, 101) inset;
    /* This creates a purple shadow in the text box when hovered over by the user */
}


/* Submit button */

input[type=submit] {
    background-color: rgb(0, 173, 101);
    /* Sets the background color of the submit button to purple */
    color: white;
    /* Sets the font color of the Submit button to white */
    font-weight: bold;
    /* Makes the font of the submit button bold */
    padding: 12px 20px;
    /* Adds padding to the submit button */
    border: none;
    /* Removes the border from the submit button */
    border-radius: 4px;
    /* Gives the submit button the same rounded corners as the text boxes */
    cursor: pointer;
    /* Changes the cursor to pointer when over the submit button */
    display: block;
    /* Allows the submit button to be centered */
    margin-left: auto;
    /* In combination with "margin-right: auto" this will center the submit button */
    margin-right: auto;
}


/* Hover effect for submit button */

input[type=submit]:hover {
    background-color: white;
    /* Turns the background of the submit button white when the user hovers over it */
    color: rgb(0, 173, 101);
    /* Turns the font purple when hovered over */
    transform: scale(1.2);
    /* Makes the button increase 1.2 times in size */
    transition: transform .75s;
    /* Makes the transform effect last .75 seconds */
}


/* Form element */

form {
    border-radius: 5px;
    /* Rounds the corners of the contact form */
    background-color: rgb(223, 223, 223);
    padding: 10px;
    /* Adds padding to the contact form */
    font-family: "Trebuchet MS", Optima;
}